parameters:
    level: 9
    paths:
        - src
        - tests
        - bin

    typeAliases:
        Entry: 'array{file: string, line: int, title: string, meta: array<string, string>, body: list<string>}'
